# [BOOTSTRAP]
SHUTDOWN_TIMEOUT=15

# [LOGGER]
# Options: debug, info, warn, error
LOG_LEVEL=info
LOG_PATH=sentinel.log

# [HTTP SERVER]
HTTP_PORT=8080
READ_HEADER_TIMEOUT=2s
READ_TIMEOUT=5s
WRITE_TIMEOUT=5s
IDLE_TIMEOUT=2m

# [GRPC SERVER]
GRPC_PORT=50051

# [CERTIFICATES]
CERT_CA_PATH="/run/secrets/ca_cert"
CERT_SERVER_CRT_PATH="/run/secrets/server_cert"
CERT_SERVER_KEY_PATH="/run/secrets/server_key"

# [REDIS]
REDIS_MASTERNAME=<name of your redis sentinel cluster>
REDIS_SENTINELS=<address of your redis sentinels>
REDIS_PASSWORD=<put in your redis password here>
REDIS_DB=1

# [RATE LIMITER]
RATE_LIMIT_ALGORITHM=TokenBucket
RATE_LIMIT_FAIL_OPEN=false
