# SERVER CONFIGURATION
HTTP_PORT=8080
GRPC_PORT=50051
SHUTDOWN_TIMEOUT=15

# LOGGER CONFIGURATION
# Options: debug, info, warn, error
LOG_LEVEL=info
LOG_PATH=sentinel.log

# REDIS CONFIGURATION
REDIS_MASTERNAME=<name of your redis sentinel cluster>
REDIS_PASSWORD=<put in your redis password here>
REDIS_SENTINELS=<address of your redis sentinels>
REDIS_DB=1

RATE_LIMIT_ALGORITHM=TokenBucket
